<% @articles.each do |article| %>
  <% if user_signed_in? %>
    <div class="card text-center">
      <div class="card-header">
        by <%= article.user.username %>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          <li><%= article.title %></h5>
        <p class="card-text"><%= article.content.truncate(100) %></p>
        <%= link_to "read more", article_path(article),class:"btn btn-primary"  %></a>
      </div>
      <div class="card-footer text-muted">
        <%= time_ago_in_words(article.created_at) %> ago
      </div>
    </div>
    <br>
    <% end %>
  <% end %>